body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    padding: 20px;
    background-color: #333;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 400px;
    text-align: center;
}

.card-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.btn-v100 {
    background-color: red;
    border-color: red;
}

.btn-v50 {
    background-color: purple;
    border-color: purple;
}

.btn-v10 {
    background-color: violet;
    border-color: violet;
}

.btn-profit-calc {
    background-color: green;
    border-color: green;
}

.btn-risk-reward {
    background-color: bisque;
    border-color: #333;
}

.white-icon {
    color: white;
}

.link-style {
    color: white;
    text-decoration: none;
}

.link-style:hover {
color: blue;
}

.label-user-input {
color: royalblue;    
}